<footer class="footer">
  <div class="footer-container">
    <p class="footer__text">
      By <%= link_to "Rails Designer", "https://railsdesigner.com", rel: "nofollow" %>
    </p>
  </div>

  <%= link_to "https://github.com/rails-designer/railsstats.com", rel: :nofollow, class: "footer__link-oss transition" do %>
    <%= icon "github" %>

    <span>Rails Stats is open-source</span>
  <% end %>
</footer>
