<footer class="footer">
  <div class="footer-container">
    <%= link_to new_snapshot_path, class: "footer__link transition" do %>
      <%= icon "plus" %>
      <%= tag.span "Add Your App's Stats" %>
    <% end %>

    <p class="footer__text">
      By <%= link_to "Rails Designer", "https://railsdesigner", rel: "nofollow" %>
    </p>
  </div>
</footer>
