<nav class="navigation">
  <div class="navigation-container">
    <%= link_to "Rails Designer", "/", class: "navigation__link transition" %>

    <%= link_to new_snapshot_path, class: "navigation__button transition" do %>
      <%= icon "plus" %>

      <%= tag.span "Add Your App's Stats" %>
    <% end %>
  </div>
</nav>
