<div class="banner banner--unverified">
  If you are the owner of this project, <a href="mailto:railsstats@railsdesigner.com?subject=I%20want%20to%20get%20verified%20on%20Rails%20Stats&body=name%3A%20<%= project.name %>%0Aid%3A%20<%= project.slug %>">reach out to get verified</a>.
</div>
