.container {
  max-width: var(--container-width);
  margin-top: var(--container-margin-top, 0);
  margin-bottom: var(--container-margin-bottom, 0);
  margin-left: auto; margin-right: auto;
}

.select-none {
  -webkit-user-select: none; -moz-user-select: none; user-select: none;
}

.transition {
  transition: all var(--default-transition-duration) var(--default-transition-easing);
}
